<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <!--<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable color-scheme-secondary">-->
    <div class="modal-content">
      <div class="modal-header color-scheme-tertiary">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{goat?.nickname || 'Not Found'}}</h1>
        <button type="button" class="btn-close" [class.btn-close-white]="colorScheme.darkMode" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body color-scheme-quaternary card">
        <h5 class="card-title text-center">{{goat?.name || 'The Requested Goat: "' + nickname + '" Was Not Found'}}</h5>
        <h6 class="card-subtitle mb-2 text-center" *ngIf="goat">"{{goat.nickname}}"</h6>
        <div class="card-header color-scheme-quaternary" *ngIf="goat">
          <div #carousel id="goatImageCarousel" class="carousel slide" data-bs-ride="true" [class.carousel-dark]="colorScheme.lightMode">
            <div class="carousel-indicators">
              <button *ngFor="let image of images; index as i" type="button" data-bs-target="#goatImageCarousel" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-current]="i === 0" attr.aria-label="Slide {{i+1}}"></button>
              <!--<button type="button" data-bs-target="#goatImageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#goatImageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
            </div>
            <div class="carousel-inner d-flex align-items-center color-scheme-secondary" style="max-height: 75vh;">
              <div *ngFor="let image of images; index as i" class="carousel-item" [class.active]="i === 0">
                <img [src]="image.path" [alt]="image.name"
                  style="aspect-ratio: 4/3; width: 100%;object-fit:contain;object-position: center;">
              </div>
              <div *ngFor="let image of (images ? [] : [1,2,3]); index as i" class="carousel-item placeholder-wave"
                [class.placeholder]="!images" [class.active]="i === 0">
                <div style="aspect-ratio: 4/3; width: 100%;object-fit:contain;object-position: center;"></div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#goatImageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#goatImageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-text text-center container color-scheme-tertiary rounded-bottom" *ngIf="goat?.dateOfBirth"> Born:
            {{getBirthday()}}<br>
            {{goat.description}}
          </div>
          <div *ngIf="goat" class="text-center mt-4">
            <div class="container border rounded-4 desktop-grid" *ngIf="goat.damId">
              <div class="row row-cols-2 border-bottom">
                <span class="col border-end border-3 fw-bolder">Sire:</span>
                <span class="col fw-bolder">Dam:</span>
              </div>
              <div class="row row-cols-2 border-bottom border-3" *ngIf="parents">
                <span class="col border-end border-3">{{parents.sire.name}}<span *ngIf="parents.sire.awards.length"><br><small>
                      {{getAwards(parents.sire.awards)}}</small></span></span>
                <span class="col">{{parents.dam.name}}<span *ngIf="parents.dam.awards.length"><br><small>
                      {{getAwards(parents.dam.awards)}}</small></span></span>
              </div>
              <div class="row row-cols-2 border-bottom border-3" *ngIf="parents === undefined">
                <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
                <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
              </div>
              <div class="row row-cols-4 border-bottom">
                <span class="col fw-bolder border-end border-3">Sire's Sire (SS):</span>
                <span class="col fw-bolder border-end border-5">Sire's Dam (SD):</span>
                <span class="col fw-bolder border-end border-3">Dam's Sire (DS):</span>
                <span class="col fw-bolder">Dam's Dam (DD):</span>
              </div>
              <div class="row row-cols-4" *ngIf="parents">
                <span class="col border-end border-3">{{parents.siresSire.name}}
                  <span *ngIf="parents.siresSire.awards.length"><br><small>{{getAwards(parents.siresSire.awards)}}</small></span>
                </span>
                <span class="col border-end border-5">{{parents.siresDam.name}}
                  <span *ngIf="parents.siresDam.awards.length"><br><small>{{getAwards(parents.siresDam.awards)}}</small></span>
                </span>
                <span class="col border-end border-3">{{parents.damsSire.name}}
                  <span *ngIf="parents.damsSire.awards.length"><br><small>{{getAwards(parents.damsSire.awards)}}</small></span>
                </span>
                <span class="col">{{parents.damsDam.name}}
                  <span *ngIf="parents.damsDam.awards.length"><br><small>{{getAwards(parents.damsDam.awards)}}</small></span>
                </span>
              </div>
              <div class="row row-cols-4" *ngIf="parents === undefined">
                <span class="col border-end border-3 placeholder-wave placeholder">lorem <br><small>ipsum</small>
                </span>
                <span class="col border-end border-5 placeholder-wave placeholder">lorem <br><small>ipsum</small>
                </span>
                <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
                </span>
                <span class="col placeholder placeholder-wave">lorem <br><small>ipsum</small>
                </span>
              </div>
            </div>
            <div class="container border rounded-4 mobile-grid" *ngIf="goat.damId">
              <div class="row row-cols-1 border-bottom">
                <span class="col">Sire:</span>
              </div>
              <div class="row row-cols-1 border-bottom border-3" *ngIf="parents">
                <span class="col">{{parents.sire.name}}<span *ngIf="parents.sire.awards.length"><br><small>
                      {{getAwards(parents.sire.awards)}}</small></span></span>
              </div>
              <div class="row row-cols-1 border-bottom border-3" *ngIf="parents === undefined">
                <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
              </div>
              <div class="row row-cols-2 border-bottom">
                <span class="col border-end border-3">Sire's Sire (SS):</span>
                <span class="col">Sire's Dam (SD):</span>
              </div>
              <div class="row row-cols-2" *ngIf="parents">
                <span class="col border-end border-3">{{parents.siresSire.name}}
                  <span *ngIf="parents.siresSire.awards.length"><br><small>{{getAwards(parents.siresSire.awards)}}</small></span>
                </span>
                <span class="col">{{parents.siresDam.name}}
                  <span *ngIf="parents.siresDam.awards.length"><br><small>{{getAwards(parents.siresDam.awards)}}</small></span>
                </span>
              </div>
              <div class="row row-cols-2" *ngIf="parents === undefined">
                <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
                </span>
                <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small>
                </span>
              </div>
            </div>
            <br>
            <div class="container border rounded-4 mobile-grid" *ngIf="goat.damId">
              <div class="row row-cols-1 border-bottom">
                <span class="col">Dam:</span>
              </div>
              <div class="row row-cols-1 border-bottom border-3" *ngIf="parents">
                <span class="col">{{parents.dam.name}}<span *ngIf="parents.dam.awards.length"><br><small>
                      {{getAwards(parents.dam.awards)}}</small></span></span>
              </div>
              <div class="row row-cols-1 border-bottom border-3" *ngIf="parents === undefined">
                <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
              </div>
              <div class="row row-cols-2 border-bottom">
                <span class="col border-end border-3">Dam's Sire (DS):</span>
                <span class="col">Dam's Dam (DD):</span>
              </div>
              <div class="row row-cols-2" *ngIf="parents">
                <span class="col border-end border-3">{{parents.damsSire.name}}
                  <span *ngIf="parents.damsSire.awards.length"><br><small>{{getAwards(parents.damsSire.awards)}}</small></span>
                </span>
                <span class="col">{{parents.damsDam.name}}
                  <span *ngIf="parents.damsDam.awards.length"><br><small>{{getAwards(parents.damsDam.awards)}}</small></span>
                </span>
              </div>
              <div class="row row-cols-2" *ngIf="parents === undefined">
                <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
                </span>
                <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer color-scheme-tertiary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
