<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <!--<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable color-scheme-secondary">-->
    <div class="modal-content">
      <div class="modal-header color-scheme-tertiary">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{goat?.registeredName || 'Not Found'}}</h1>
        <button type="button" class="btn-close" [class.btn-close-white]="colorScheme.darkMode" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body color-scheme-quaternary card">
        <div class="card-header color-scheme-quaternary" *ngIf="images">
          <div #carousel id="goatImageCarousel" class="carousel slide" data-bs-ride="true" [class.carousel-dark]="colorScheme.lightMode">
            <div class="carousel-indicators">
              <button *ngFor="let image of images; index as i" type="button" data-bs-target="#goatImageCarousel" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-current]="i === 0" attr.aria-label="Slide {{i+1}}"></button>
              <!--<button type="button" data-bs-target="#goatImageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#goatImageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
            </div>
            <div class="carousel-inner d-flex align-items-center" style="height: 45vh">
              <div *ngFor="let image of images; index as i" class="carousel-item" [class.active]="i === 0">
                <img [src]="image.path" [alt]="image.name" class="w-100">
              </div>
              <!--<div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>-->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#goatImageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#goatImageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <h5 class="card-title text-center">{{goat?.registeredName || 'The Requested Goat: "' + nickname + '" Was Not Found'}}</h5>
        <h6 class="card-subtitle mb-2 text-center text-muted" *ngIf="goat">"{{goat.nickname}}"</h6>
        <div class="card-text text-center" *ngIf="goat">
          <div class="container color-scheme-tertiary" *ngIf="goat.description" [innerHTML]="goat.description"></div>
          <dl>
            <dt>Sire: {{goat.sire.name}}<span *ngIf="goat.sire.stars"><br><small>Awards: {{goat.sire.stars.join(', ')}}</small></span>
            </dt>
            <dd>Sire's Sire (SS): {{goat.sire.sire.name}}
              <span *ngIf="goat.sire.sire.stars"><br><small>Awards: {{goat.sire.sire.stars.join(', ')}}</small></span><br>Sire's Dam (SD):
              {{goat.sire.dam.name}}<span *ngIf="goat.sire.dam.stars"><br><small>Awards: {{goat.sire.dam.stars.join(', ')}}</small></span>
            </dd>
            <dt>Dam: {{goat.dam.name}}<span *ngIf="goat.dam.stars"><br><small>Awards: {{goat.dam.stars.join(', ')}}</small></span>
            </dt>
            <dd>Dam's Sire (DS): {{goat.dam.sire.name}}<span *ngIf="goat.dam.sire.stars"><br><small>Awards:
                  {{goat.dam.sire.stars.join(', ')}}</small></span><br> Dam's Dam (DD): {{goat.dam.dam.name}}<span
                *ngIf="goat.dam.dam.stars"><br><small>Awards: {{goat.dam.dam.stars.join(', ')}}</small></span>
            </dd>
          </dl>
          <div *ngIf="goat.awards">
            <h4 class="text-center">Awards:</h4>
            <table class="table table-striped table-hover table-bordered text-center-bordered" [class.table-dark]="colorScheme.darkMode"
              [class.table-info]="colorScheme.lightMode">
              <thead>
                <tr>
                  <th scope="col">Award</th>
                  <th scope="col">Division</th>
                  <th scope="col">Event</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let award of goat.awards">
                  <th scope="row">{{award.level}}</th>
                  <td>{{award.division}}</td>
                  <td>{{award.event}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer color-scheme-tertiary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>
