<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="goat">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-dialog color-scheme-secondary">
      <div class="modal-content">
        <div class="modal-header color-scheme-tertiary">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{goat.registeredName}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body color-scheme-quaternary">
          <h5 class="card-title stretched-link text-center" routerLink="{{goat.nickname}}">{{goat.registeredName}}</h5>
          <h6 class="card-subtitle mb-2 text-center text-muted">"{{goat.nickname}}"</h6>
          <div class="card-text text-center">
            <dl>
              <dt>Sire: {{goat.sire.name}}<span *ngIf="goat.sire.stars"><br><small>Awards: {{goat.sire.stars.join(', ')}}</small></span>
              </dt>
              <dd>Sire's Sire (SS): {{goat.sire.sire.name}}
                <span *ngIf="goat.sire.sire.stars"><br><small>Awards: {{goat.sire.sire.stars.join(', ')}}</small></span><br>Sire's Dam (SD):
                {{goat.sire.dam.name}}<span *ngIf="goat.sire.dam.stars"><br><small>Awards: {{goat.sire.dam.stars.join(', ')}}</small></span>
              </dd>
              <dt>Dam: {{goat.dam.name}}<span *ngIf="goat.dam.stars"><br><small>Awards: {{goat.dam.stars.join(', ')}}</small></span>
              </dt>
              <dd>Dam's Sire (DS): {{goat.dam.sire.name}}<span *ngIf="goat.dam.sire.stars"><br><small>Awards:
                    {{goat.dam.sire.stars.join(', ')}}</small></span><br> Dam's Dam (DD): {{goat.dam.dam.name}}<span
                  *ngIf="goat.dam.dam.stars"><br><small>Awards: {{goat.dam.dam.stars.join(', ')}}</small></span>
              </dd>
            </dl>
          </div>
        </div>
        <div class="modal-footer color-scheme-tertiary">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Understood</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
