<!--<div *ngFor="let key of getKeys()">
  <p *ngIf="!['nickname', 'description', 'awards'].includes(key) && getValue(key) !== null"><span
      class="fw-bolder">{{key}}</span>: <span class="fw-lighter">{{getValue(key)}}</span>

</div>-->
<div class="text-capitalize"><span class="fw-bolder">Born</span>: <span class="fw-lighter">{{getBirthday()}}</span>
  <br>
  <!--<div *ngIf="goat.obtained">
    <span class="fw-bolder">Transferred</span>: <span class="fw-lighter">{{getDateObtained()}}</span>
    <br>
  </div>-->
  <span class="fw-bolder">ID</span>: <span class="fw-lighter">{{goat.normalizeId}}</span>
  <br>
  <!--<span class="fw-bolder">Breeder Account ID</span>: <span class="fw-lighter">{{goat.breederAccountId}}</span>-->
  <span class="fw-bolder">Tattoo</span>: <span *ngFor="let animalTattoo of goat.animalTattoo">
    {{animalTattoo.tattooLocation.name}}:<span class="fw-lighter">{{animalTattoo.tattoo}}</span>
  </span>
  <br>
  <span class="fw-bolder">Markings</span>: <span class="fw-lighter">{{goat.colorAndMarking.toLowerCase()}}</span>
</div>
