<div class="card color-scheme-secondary" *ngIf="goat">
  <!--<div class="card-header text-center color-scheme-tertiary"></div>-->
  <img *ngIf="image" [src]="image.path" [alt]="image.name" class="card-img-top rounded px-3 pt-3">
  <div class="card-body color-scheme-secondary">
    <div class="container color-scheme-tertiary pb-3">
      <a class="stretched-link" [routerLink]="goat.nickname"></a>
      <h5 class="card-title text-center">{{goat.registeredName}}</h5>
      <h6 class="card-subtitle pb-2 text-center text-muted">"{{goat.nickname}}"</h6>
      <div class="card-text text-center" *ngIf="goat.description" [innerHTML]="goat.description">
        <!--<dl>
          <dt>Sire: {{goat.sire.name}}<span *ngIf="goat.sire.stars"><br><small>Awards: {{goat.sire.stars.join(', ')}}</small></span>
          </dt>
          <dd>Sire's Sire (SS): {{goat.sire.sire.name}}
            <span *ngIf="goat.sire.sire.stars"><br><small>Awards: {{goat.sire.sire.stars.join(', ')}}</small></span><br>Sire's Dam (SD):
            {{goat.sire.dam.name}}<span *ngIf="goat.sire.dam.stars"><br><small>Awards: {{goat.sire.dam.stars.join(', ')}}</small></span>
          </dd>
          <dt>Dam: {{goat.dam.name}}<span *ngIf="goat.dam.stars"><br><small>Awards: {{goat.dam.stars.join(', ')}}</small></span>
          </dt>
          <dd>Dam's Sire (DS): {{goat.dam.sire.name}}<span *ngIf="goat.dam.sire.stars"><br><small>Awards:
                {{goat.dam.sire.stars.join(', ')}}</small></span><br> Dam's Dam (DD): {{goat.dam.dam.name}}<span
              *ngIf="goat.dam.dam.stars"><br><small>Awards: {{goat.dam.dam.stars.join(', ')}}</small></span>
          </dd>
        </dl>-->
      </div>
    </div>
  </div>
  <div class="card-footer text-center pb-3 color-scheme-secondary" *ngIf="goat.awards">
    <div class="container color-scheme-tertiary py-3">
      <h4 class="text-center">Awards:</h4>
      <table class="table table-striped table-hover table-bordered text-center-bordered" [class.table-dark]="colorScheme.darkMode"
        [class.table-info]="colorScheme.lightMode">
        <thead>
          <tr>
            <th scope="col">Award</th>
            <th scope="col">Division</th>
            <th scope="col">Event</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let award of goat.awards">
            <th scope="row">{{award.level}}</th>
            <td>{{award.division}}</td>
            <td>{{award.event}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
