<h1 class="text-center">Kidding Schedule</h1>
<div class="container color-scheme-tertiary py-3 px-3 vh-100 text-center">
  <table class="table table-striped table-hover table-bordered text-center-bordered" [class.table-dark]="colorScheme.darkMode">
    <thead>
      <tr>
        <th scope="col">Date Bred</th>
        <th scope="col">Dam</th>
        <th scope="col">Sire</th>
        <th scope="col">Projected Kidding Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let breeding of kiddingSchedule">
        <th scope="row">{{breeding.bred}}</th>
        <td>
          <!--<a routerLink="/does/Mystic" class="stretched-link"></a>-->
          {{breeding.dam}}
        </td>
        <td>{{breeding.sire}}</td>
        <td>{{breeding.kidding}}</td>
      </tr>
    </tbody>
  </table>
</div>
