<h1 class="text-center">For Sale</h1>
<h5 class="text-center">Click on a goat below for more information</h5>
<h6 class="text-center">Please contact us for pricing information, we are open to offers and will do bundle deals</h6>
<app-for-sale-goat-modal _title="For Sale" [goats]="getAllGoats()" *ngIf="hasValue()"></app-for-sale-goat-modal>
<div class="container">
  <div>
    <h2 class="text-center" *ngIf="goats?.does?.length ?? true">Does:</h2>
    <div class="row row-cols-auto row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center"
      *ngIf="goats && goats.does.length">
      <div class="col py-3" *ngFor="let goat of goats.does">
        <app-for-sale-goat [goat]="goat"></app-for-sale-goat>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center" *ngIf="!goats">
      <div class="col py-3" *ngFor="let placeholder of [1]">
        <div class="card color-scheme-secondary">
          <div class="card-img-top rounded px-3 pt-3 ratio ratio-16x9 placeholder"></div>
          <div class="card-body color-scheme-secondary">
            <div class="container color-scheme-tertiary pb-3 placeholder-glow text-center">
              <h6 class="card-subtitle pb-2 text-center placeholder">"Mystic"</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-center" *ngIf="goats?.bucks?.length ?? true">Bucks:</h2>
    <div class="row row-cols-auto row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center"
      *ngIf="goats && goats.bucks">
      <div class="col py-3" *ngFor="let goat of goats.bucks">
        <app-for-sale-goat [goat]="goat"></app-for-sale-goat>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center" *ngIf="!goats">
      <div class="col py-3" *ngFor="let placeholder of [1]">
        <div class="card color-scheme-secondary">
          <div class="card-img-top rounded px-3 pt-3 ratio ratio-16x9 placeholder"></div>
          <div class="card-body color-scheme-secondary">
            <div class="container color-scheme-tertiary pb-3 placeholder-glow text-center">
              <h6 class="card-subtitle pb-2 text-center placeholder">"Mystic"</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-center" *ngIf="goats?.pets?.length ?? true">Pets:</h2>
    <div class="row row-cols-auto row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center"
      *ngIf="goats && goats.pets">
      <div class="col py-3" *ngFor="let goat of goats.pets">
        <app-for-sale-goat [goat]="goat"></app-for-sale-goat>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center" *ngIf="!goats">
      <div class="col py-3" *ngFor="let placeholder of [1]">
        <div class="card color-scheme-secondary">
          <div class="card-img-top rounded px-3 pt-3 ratio ratio-16x9 placeholder"></div>
          <div class="card-body color-scheme-secondary">
            <div class="container color-scheme-tertiary pb-3 placeholder-glow text-center">
              <h6 class="card-subtitle pb-2 text-center placeholder">"Mystic"</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
