/* You can add global styles to this file, and also import other style files */

/**Colors for devices in dark mode*/
.color-scheme-main {
  background-color: hsl(26, 40%, 10%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-secondary {
  background-color: hsl(26, 40%, 15%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-tertiary {
  background-color: hsl(26, 40%, 20%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-quaternary {
  background-color: hsl(26, 40%, 25%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.muted {
  color: hsl(0, 0%, 50%) !important;
}

img {
  opacity: 0.75
}

:root {
  --bs-link-color-rgb: 13, 202, 240 !important;
  --bs-link-hover-color-rgb: 61, 213, 243 !important;
}

.reference-popover {
  --bs-popover-max-width: 100vw !important;
  --bs-popover-border-color: hsl(26, 40%, 15%) !important;
  --bs-popover-header-bg: hsl(26, 40%, 15%) !important;
  --bs-popover-header-color: hsl(0, 0%, 85%) !important;
  --bs-popover-bg: hsl(26, 40%, 10%) !important;
  --bs-popover-body-color: hsl(0, 0%, 85%) !important;
  --bs-popover-body-padding-y: 0.5rem !important;
  text-align: center !important;
  opacity: 90%;
  transition: opacity 1s ease-in !important;
}

/**Colors for devices in light mode*/
@media (prefers-color-scheme: light) {
  :root {
    --bs-link-color-rgb: 10, 85, 195 !important;
    //--bs-link-hover-color-rgb: 61, 213, 243 !important;
  }

  .color-scheme-main {
    background-color: hsl(26, 40%, 60%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  .color-scheme-secondary {
    background-color: hsl(26, 40%, 55%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  .color-scheme-tertiary {
    background-color: hsl(26, 40%, 50%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  .color-scheme-quaternary {
    background-color: hsl(26, 40%, 45%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  /*.active {
    //color: hsl(250, 100%, 60%) !important;
    background-color: hsla(220, 100%, 80%) !important;
  }*/

  img {
    opacity: 0.9
  }

  .muted {
    color: --bs-secondary-color !important;
  }

}
