/* You can add global styles to this file, and also import other style files */

/**Colors for devices in dark mode*/
//@media (prefers-color-scheme: dark) {
.color-scheme-main {
  background-color: hsl(240, 100%, 15%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-secondary {
  background-color: hsl(240, 100%, 25%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-tertiary {
  background-color: hsla(240, 100%, 30%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.color-scheme-quaternary {
  background-color: hsla(240, 100%, 35%) !important;
  color: hsl(0, 0%, 85%) !important;
}

.active-link {
  //color: hsl(250, 100%, 60%) !important;
  background-color: hsla(240, 100%, 20%) !important;
}

img {
  opacity: 0.75
}

//}

/**Colors for devices in light mode*/
@media (prefers-color-scheme: light) {
  .color-scheme-main {
    background-color: hsl(220, 100%, 85%) !important;
    color: hsla(0, 0%, 15%) !important;
  }

  .color-scheme-secondary {
    background-color: hsl(220, 100%, 75%) !important;
    color: hsla(0, 0%, 15%) !important;
  }

  .color-scheme-tertiary {
    background-color: hsla(220, 100%, 70%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  .color-scheme-quaternary {
    background-color: hsla(220, 100%, 65%) !important;
    color: hsl(0, 0%, 15%) !important;
  }

  .active {
    //color: hsl(250, 100%, 60%) !important;
    background-color: hsla(220, 100%, 80%) !important;
  }

  img {
    opacity: 0.9
  }
}
