<div class="w-100 text-center">
  <img src="/assets/logos/vector.svg" width="150" class="text-center"
    style="animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);">
</div>
<h1 class="text-center">Lil' Pilchuck Creek Farm</h1>
<h5 class="text-center">Kolton & Karen Bloom</h5>
<h6 class="text-center"><a href="mailto:lilpilchuckcreekfarm@gmail.com">LilPilchuckCreekFarm@gmail.com</a></h6>
<!--<h2 class="text-center">Bloom Family Farm Nigerians</h2>-->
<div class="container">
  <p class="text-center">Our hobby farm is home to ADGA Registered Nigerian Dwarfs. The farm has evolved from a farm girl's wish to continue
    her dairy roots into a 4-H project with the goal of raising show-quality goats. Thanks to wonderful breed mentors we have established a
    solid herd we hope to learn from and build on.</p>
</div>
