<div class="w-100 text-center">
  <img src="/assets/logos/vector.svg" width="150" class="text-center">
</div>
<h1 class="text-center">{{app.homeTitle}}</h1>
<h5 class="text-center">{{app.owner}}</h5>
<h6 class="text-center"><a [href]="'mailto:' + app.email">{{app.email}}</a></h6>
<!--<h2 class="text-center">Bloom Family Farm Nigerians</h2>-->
<div class="container">
  <h4 class="text-center">THIS SITE IS NO LONGER MAINTAINED - PLEASE SEE <a href="https://www.lilpilchuckcreek.org">lilpilchuckcreek.org</a>
    FOR UP-TO-DATE INFORMATION</h4>
  <p class="text-center" [innerHTML]="app.homeDescription"></p>
</div>
